/* 480 */

 @media screen and ( min-width: 480px) {

    .container {
        padding: 0 16px;
        width: 428px;
    }

    /* ==========HEADER========== */

    .header {
        padding-top: 24px;
        padding-bottom: 24px;
    }


     /* ==========HERO========== */


    .hero {
        padding-bottom: 112px;
        background-image: 
        linear-gradient(var(--overlay), var(--overlay)),
        url(../images/hero/hero-bcg-tablet.jpg);
        background-size: cover;
    }

    @media (min-device-pixel-ratio: 2),
        (min-resolution: 192dpi),
        (min-resolution: 2dppx) {
        .hero {        
                background-image: 
                linear-gradient(var(--overlay), var(--overlay)),
                url(../images/hero/hero-bcg-tablet-2x.jpg);
        }
    }

    .hero-title {
        max-width: 320px;
        font-weight: 700;
        font-size: 36px;
    }

    /* ==========MOB MENU========== */

    .mob-menu {
        padding-top: 80px;
    }

    .mob-menu-close-btn {
        top: 40px;
        right: 40px;
    }

    .mob-menu >.container {
        padding: 0 40px;
    }

    .mob-menu-item:not(:last-child) {
        margin-bottom: 40px;
    }

    .mob-menu-active {
        font-size: 36px;
    }

    .mob-menu-link {
        font-size: 36px;
    }

    .mob-tel-link {
        font-size: 36px;
    }

    .mob-soc-list {
        margin-top: 48px;
        gap: 56px;
    }

    /* ==========FEATURES========== */

    .section-subtitle {
        font-weight: 700;
        font-size: 36px;
        line-height: 1.1;  
    }

/* ========== EXAMPLES ========== */
    

/* ========== OUR TEAM ========== */

    .container-mini {
        width: 264px;
        margin: 0 auto;
    }

/* ========== CUSTOMERS ========== */



/* ========== FOOTER ========== */



/* ========== FOOTER FORM========== */

    .footer-subscribe-input {
        width: 396px;    
    }

    .footer-subscribe-btn {
        min-width: 165px;
        padding: 8px 24px;
    }

/* ========== MODAL WINDOW ========== */
    .modal {
        width: 392px;
        min-height: 586px; 
    }

    .modal-close {
        top: 24px;
        right: 24px;
    }

/* ========== MODAL FORM ========== */

.modal-title {
    font-size: 16px;
}

.modal-form-check-text::before {
    width: 16px;
    height: 16px;
    margin-right: 8px;
}

.modal-form-check-text {
    font-size: 12px;
}

.modal-form-submit {
    min-width: 169px;
    padding: 16px 32px;
}


 }

 