/* 480 */

/* ==========HERO========== */

 @media screen and ( min-width: 480px) {

    .container {
        /* width: 100%;  */
        padding: 0 16px;
        width: 428px;
        
    }

    /* ==========FEATURES========== */

    .section-subtitle {
        font-weight: 700;
        font-size: 36px;
        line-height: 1.1;
        
    }

/* ========== EXAMPLES ========== */
    

/* ========== OUR TEAM ========== */

    .container-mini {
        width: 264px;
        margin: 0 auto;
    }

/* ========== CUSTOMERS ========== */



/* ========== FOOTER ========== */



/* ========== FOOTER FORM========== */

    .footer-subscribe-input {
        width: 396px;    
    }

    .footer-subscribe-btn {
        min-width: 165px;
        padding: 8px 24px;
    }
 }

 