/* 480 */

/* ==========HERO========== */
/* 
@media screen and ( min-width: 480px) {
    .container {
        min-width: 480px; 

    }
}
 */

 

 @media screen and ( min-width: 480px) {

    /* ==========FEATURES========== */

    .container {
        width: 480px; 
        padding: 0 16px;
    }

    .section-subtitle {
        font-size: 36px;

    }

    .section-text {
     
    }

/* ========== EXAMPLES ========== */
    
}