/* 768px */

@media screen and ( min-width: 768px) {

     .container {
        width: 768px;
    }

    /* ==========FEATURES========== */

    .section-subtitle {
        text-align: left;
    }
    
    .features-list {
        column-gap: 24px;
    }

    .features-item {
        flex-basis: calc((100% - 24px)/2);
        margin-bottom: 0px;
    }

    /* ========== EXAMPLES ========== */


    /* ========== OUR TEAM ========== */

    .container-mini {
        width: 552px;   
    }
    
    .team {
        padding-bottom: 104px; 
    }

    .team-list {
        column-gap: 24px;
        row-gap: 64px;
    }

    .team-item {
        flex-basis: calc((100% - 24px)/2);
    }

}
    


