/* 768px */



@media screen and ( min-width: 768px) {

    /* ==========FEATURES========== */

    
    .container {
        width: 768px;
    }

    .section-subtitle {
        text-align: left;

    }

    .features-list {
        display: flex;
        column-gap: 24px;
        flex-wrap: wrap;
    }

    .features-item {
        flex-basis: calc((100% - 24px)/2);
        margin-bottom: 0px;
    }


    /* ========== EXAMPLES ========== */

    } 
    
    


